/* style.css - v1 */

/* ********** START Layout ********** */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: sans-serif;
}

#root {
  width: 100vw;
  height: 100vh;
  background-color: #f9f9f9;
}
/* ********** SLUT Layout ********** */
