/* ********** START style.css ********** */
html, body, #root {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: sans-serif;
    background: #f0f0f0;
  }
  
  .reactflow-wrapper {
    width: 100%;
    height: 100%;
  }
  /* ********** SLUT style.css ********** */
  